@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

h1 {font-weight:bold; font-size:1.875em ; color: rgb(192, 62, 53); line-height: 1.875em;}

h2 {font-weight: bold; font-size: 1.5625em; color: rgb(203, 97, 32); line-height: 1.5em;}

h3 {font-weight: bold; font-size: 1.40625em; color: rgb(190, 146, 7); line-height: 1.5em;}

h4 {font-weight: bold; font-size: 1.25em; color: rgb(118, 141, 33); line-height: 1.5em;}

body {background-color: rgb(16, 15, 15); text-align: justify; max-width: 32em; color: rgb(206, 205, 195); line-height: 1.25; font-family: 'Inter'; font-size: 1.25em; margin:40px auto; padding: 0 10px;}

img{border-radius: 6px; max-width: 32em; align-self: center; margin-left: auto; margin-right: auto;}

a:link{color: rgb(206, 205, 195)}
a:visited{color: rgb(206, 205, 195)}

ul{
    list-style-type: none;
    margin:0;
    padding:0
}
/*li{display:inline;padding-inline:10px;}*/

button{border-radius: 6.5px; font-family: Inter; color: rgb(16, 15, 15);}
